<!DOCTYPE html>
<html lang="en">
<head>
  <title>Query</title>
</head>
<body>

  <form [formGroup]="contactForm" (submit)="onSubmit()" novalidate>
    <h1 class="text-center">Drop us a message</h1>
    <!-- <div class="row mb-2">
        <div class="col-8"> -->
    <div class="row ms-5">
        <div class="col-3">
            <div class="col">
                <div class="form-group">
                    <label for="exampleInputFull name"></label>
                    <input type="text" class="form-control" formControlName="Fullname" placeholder="Your Name">
                    <small class="form-text text-muted"
                    *ngIf="contactForm.controls.Fullname.touched && contactForm.controls.Fullname.errors?.required">
                    Enter Fullname!!!
                    </small>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="form-group">
                <label for="exampleInputmessage"></label>
                <textarea type="text" class="form-control" formControlName="message" placeholder=" Your Message" maxlength="200"></textarea>
                <small class="form-text text-muted"
                *ngIf="contactForm.controls.message.touched && contactForm.controls.message.errors?.required">
                Enter message!!!
                </small>
            </div>
        </div>
    </div>

    <div class="row ms-5">
        <div class="col-3">
            <div class="col">
                <div class="form-group">
                    <label for="exampleInputemail"></label>
                    <input type="email" class="form-control" formControlName="email" placeholder="Your Email">
                    <small class="form-text text-muted"
                    *ngIf="contactForm.controls.email.touched && contactForm.controls.email.errors?.required">
                    Enter email!!!
                    </small>
                    <small class="form-text text-muted"
                    *ngIf="contactForm.controls.email.touched && contactForm.controls.email.errors?.email">
                    Enter the valid email!!!
                    </small>
                </div>
            </div>
        </div>
    </div>

    <div class="row ms-5">
        <div class="col-3">
            <div class="col">
                <div class="form-group">
                    <label for="exampleInputphonenumber"></label>
                    <input type="number" class="form-control" formControlName="phonenumber" placeholder=" Your Phone">
                    <small class="form-text text-muted"
                    *ngIf="contactForm.controls.phonenumber.touched && contactForm.controls.phonenumber.errors?.required">
                    Enter phone number!!!
                    </small>
                </div>
            </div>
        </div>
    </div>
        
</form>
<div class="row mb-4">
    <div class="col-6">
        <div class="d-flex flex-row-reverse">
            <button class="btn btn-primary" (click)="aaa()">Send</button>
          </div>
    </div>
</div>
</body>
</html>
