<h1 class="text-center">Welcome to Health Club</h1><br>
<p class="font-italic text-justify">Health apps are application programs that offer health-related services for smartphones and tablet PCs.<br>Because they are accessible to patients both at home and on-the-go, health apps are a part of the movement towards mobile health (mHealth) programs in health care.<br>Healthclubs.com, IHRSA's consumer web-site, makes it easier than ever for anyone to locate IHRSA member health clubs in the United States and around the world. Fitness-minded individuals can visit the site to find quality health clubs at home and while travelling.<br>On Healthclubs.com, you can find IHRSA clubs using an interactive map and search for clubs that offer specific programs or amenities (e.g., tennis courts, swimming pools, etc.).<br> You can also locate clubs that participate in the IHRSA Passport Program, which enables members to access other participating clubs while they travel.</p>
<p>Check out Our Pages</p>
<ul>
        <li>BookAppointment</li> 
        <li>ViewAppointment</li> 
        <li>Query</li>
</ul>
