<app-header></app-header>
<router-outlet></router-outlet>
<div class="row">
  <div class="col"></div>
  <div class="col text-center">
      <h5>Useful Links</h5>
      <div>
          <a class="link-info" style="text-decoration: none;" [routerLink]="['/home']">Home</a>
      </div>
      <div>
          <a class="link-info" style="text-decoration: none;" [routerLink]="['/viewappointment']">View Appointments</a>
      </div>
      <div>
          <a class="link-info" style="text-decoration: none;" [routerLink]="['/bookingappointment']">Place Appointments</a>
      </div>
      <div>
          <a class="link-info" style="text-decoration: none;" [routerLink]="['/query']">Query</a>
      </div>

  </div>
  <div class="col">
      <h5>Contact</h5>
      <div>
          <a class="justify-content-center" style="text-decoration: none;">Company Address:ABC</a>
      </div>
      <div>
          <a class="justify-content-center" style="text-decoration: none;">Company Email:company@gmail.com</a>
      </div>
      <div>
          <a class="justify-content-center" style="text-decoration: none;">Company Phone:8969969622</a>
      </div>
      <div>
          <a class="justify-content-center" style="text-decoration: none;">Company Fax:2493824982</a>
      </div>
  </div>
</div>
<div class="row mt-4 text-center">
  <div class="col">
      &copy; 2021 Copyright
  </div>
</div>